.header {
    padding-bottom: 5%;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

nav {
    width: 100%;
    text-align: center;
    display: inline-block
}

ul {
    list-style-type: none;
    margin: 0%;
    padding-bottom: 0%;
    overflow: hidden;
    background-color: bisque;
    text-align: center;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

li {
    text-align: center;
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

body {
    font-family: 'Lobster Two', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Josefin Slab', serif;

}

.grid {
    margin-left: 3.0rem;
    width: 40%;
    padding: 10px;
}

.gridimg td:hover {
    transition: .5s ease-in-out;
    border: lightslategray 5px solid;
    transform: scale(1.5)
}